@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/PTSans-Regular.ttf) format("ttf");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/PTSans-Bold.ttf) format("ttf");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    width: 1400px;
}

/* newsletter */

.newsletter {
    width: 800px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.newsletter h3 {
    text-align: center;
    margin-bottom: 29px;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
}

.newsletter p {
    text-align: center;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 46px;
    font-family: 'PT Sans', sans-serif;
    width: 467px;
    font-size: 22px;
    line-height: 26px;
}

.newsletter-form {
    width: 800px;
    display: flex;
}

.newsletter-form input[type="email"] {
    flex-grow: 1;
    width: 100%;
    padding: 17px 0;
    padding-left: 22px;
    background-color: #F2F2F2;
    border: none;
    border-radius: 10px 0 0 10px;
    font-size: 18px;
    line-height: 26px;
    font-family: 'PT Sans', sans-serif;
    box-sizing: border-box;
}

.newsletter-form input[type="email"]:hover {
    background-color: #E6E6E6;
}

.newsletter-form input[type="email"]:focus {
    background-color: #E6E6E6;
    box-shadow: 0 0 0 3px #83B3D3;
}

.newsletter-form input[type="email"]:focus:invalid {
    background-color: white;
    box-shadow: inset 0 0 0 2px #FF5757;
}

.newsletter-form input::placeholder {
    color: black;
    opacity: 60%;
    font-size: 18px;
    line-height: 26px;
    font-family: 'PT Sans', sans-serif;
}

.newsletter-form button {
    width: 200px;
    border: none;
    background-color: #83B3D3;
    color: white;
    border-radius: 0 10px 10px 0;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    cursor: pointer;
}

.newsletter-form button:hover {
    background-color: #68A2CA;
}

.newsletter-form button:focus {
    background-color: #68A2CA;
    box-shadow: 0 0 0 3px #756257;
}

.newsletter-form button:active {
    background-color: #68A2CA;
    color: rgba(255, 255, 255, 0.3);
}

/*filter*/

.filters {
    width: 1200px;
    margin: 0 auto;
    padding: 35px 72px 83px 72px;
    background-color: lightblue;
    margin-bottom: 30px;
}

.filters h2 {
    font-family: 'PT Sans', sans-serif;
    font-size: 60px;
    padding: 0;
    margin: 0;
    margin-bottom: 71px;
    color: white;
}

/*checkbox*/

.catalog-filter-group {
    border: none;
    padding: 0;
    margin: 0;
    width: 150px;
}

.catalog-filter-title {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: white;
}

.catalog-filter-group {
    list-style: none;
    padding: 0;
    margin: 0;
}

.catalog-filter-item:not(:last-child) {
    margin-bottom: 13px;
}

.control {
    padding-left: 39px;
    position: relative;
}

.control-mark {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: white;
    position: absolute;
    left: 0;
}

input[type="checkbox"]:checked + .control-mark::before {
    position: absolute;
    content: url('/images/tick.svg');
    left: 4px;
    top: 1px;
}

input[type="checkbox"]:hover + .control-mark {
    opacity: 0.6;
}

input[type="checkbox"]:focus + .control-mark {
    opacity: 0.6;
    box-shadow: 0 0 0 3px #83B3D3;
}

input[type="checkbox"]:active + .control-mark {
    opacity: 0.6;
}

.control-label {
    font-family: 'PT Sans', sans-serif;
    color: white;
    font-size: 18px;
}

/*radio*/

input[type="radio"] + .control-mark {
    border-radius: 50%;
}

input[type="radio"]:checked + .control-mark::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #3F5E72;
    position: absolute;
    left: 5px;
    top: 5px;
}

input[type="radio"]:hover + .control-mark {
    opacity: 0.6;
}

input[type="radio"]:focus + .control-mark {
    opacity: 0.6;
    box-shadow: 0 0 0 3px #83B3D3;
}

input[type="radio"]:active + .control-mark {
    opacity: 0.6;
}


/*range*/

.catalog-filter-group:last-of-type {
    width: 287px;
}

.catalog-filter-group:last-of-type legend {
    margin-bottom: 34px;
}

.range-wrapper-inputs {
    width: 287px;
    display: flex;
    border-radius: 4px;
    position: relative;
    margin-bottom: 32px;
}

input[type="number"] {
    flex-grow: 1;
    width: 100%;
    box-sizing: border-box;
    appearance: textfield;
    background-color: transparent;
    border: none;
    padding-top: 14px;
    padding-bottom: 11px;
    padding-left: 19px;
    font-family: 'PT Sans', sans-serif;
    color: white;
    font-size: 18px;
    position: relative;
}

.range-label:first-of-type input[type="number"] {
    border: 2px solid white;
    border-radius: 4px 0 0 4px;
}

.range-label:last-of-type input[type="number"] {
    border: 2px solid white;
    border-radius: 0 4px 4px 0;
    transform: translateX(-2px);
}

.range-label:first-of-type input[type="number"]:hover {
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 4px 0 0 4px;
}

.range-label:last-of-type input[type="number"]:hover {
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 0 4px 4px 0;
}

input[type="number"]:focus {
    box-shadow: 0 0 0 3px #83B3D3;
    background-color: #756257;
}

.range-label:first-of-type span {
    color: rgba(255, 255, 255, 0.3);
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
    position: absolute;
    top: 14px;
    right: 158px;
}

.range-label:last-of-type span {
    color: rgba(255, 255, 255, 0.3);
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
    position: absolute;
    top: 14px;
    right: 14px;
}

input[type="number"]::placeholder {
    font-family: 'PT Sans', sans-serif;
    color: white;
    font-size: 18px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

.range-scale {
    width: 287px;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.3);
}

.range-indicator {
    height: 4px;
    background-color: white;
    position: relative;
}

.togle-btns button {
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: white;
}

.togle-btns {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 227px;
    top: -150%;
}

.togle-btns button:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.togle-btns button:active {
    box-shadow: 3px 3px 0 0 #83B3D3;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.togle-btns button:focus {
    box-shadow: 3px 3px 0 0 #83B3D3;
}

.filter-btns {
    width: 160px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

button.apply {
    margin-bottom: 16px;
    border: none;
    background-color: #83B3D3;
    color: white;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    padding: 14px 0;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"].apply:hover {
    background-color: #68A2CA;
}

button.apply:focus {
    background-color: #68A2CA;
    outline: 3px solid white;
}

button.apply:active {
    background-color: #68A2CA;
    color: rgba(255, 255, 255, 0.3);
}

button.reset {
    border: 3px solid transparent;
    padding: 4px 14px;
    background-color: transparent;
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    cursor: pointer;
}

button.reset:hover {
    color: rgba(255, 255, 255, 0.6);
}

button.reset:focus {
    border: 3px solid #83B3D3;
}

button.reset:active {
    color: rgba(255, 255, 255, 0.6);
}

.filters-options {
    display: flex;
}

.catalog-filter-group:first-of-type {
    margin-right: auto;
    margin-right: 67px;
    width: 150px;
}

.catalog-filter-group:nth-of-type(2) {
    margin-right: 167px;
}

/*select*/

.cards-header {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

.cards-header h2 {
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    margin: 0;
    margin-right: 192px;
}

.select {
    width: 287px;
}

.select select {
    width: 100%;
    appearance: none;
    padding: 12px 21px 13px 19px;
    border: 2px solid #E6E6E6;
    font-family: 'PT Sans', sans-serif;
    color: #333;
    font-size: 18px;
    border-radius: 4px;
    background-image: url("/images/chevron_gray.svg");
    background-color: white;
    background-position: right 21px center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.select select:hover {
    border: 2px solid #83B3D3;
}

.select select:focus {
    border: 2px solid #83B3D3;
}

.select select:active {
    opacity: 30%;
}

.apperance {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 160px;
    justify-content: space-between;
    margin-left: auto;
}

.appearance-type-item {
    margin: 0;
    padding: 0;
}

.appearance-type-item a {
    display: block;
    width: 48px;
    height: 48px;
    border: 2px solid #E6E6E6;
    background-image: url("/images/toggle/tile.svg");
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    border-radius: 4px;
}

.appearance-type-item a:hover {
    border: 2px solid #83B3D3;
}

.appearance-type-item a:focus {
    border: 2px solid #83B3D3;
}

.appearance-type-item.chosen a {
    border: 2px solid black;
}

.appearance-type-item:nth-child(2) a {
    background-image: url("/images/toggle/slideshow.svg");
}

.appearance-type-item:nth-child(3) a {
    background-image: url("/images/toggle/list.svg");
}

/*modal*/

.modal {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(242, 242, 242, 0.8);
}

.modal-content {
    position: relative;
    margin: auto;
    width: 715px;
    padding: 54px 70px 70px 70px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 54px;
}

.modal-header h2 {
    font-family: 'PT Sans', sans-serif;
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.modal-header button {
    border: none;
    width: 53px;
    height: 53px;
    border-radius: 50%;
    background-color: #F2F2F2;
    position: relative;
    cursor: pointer;
}

button.close svg {
    position: absolute;
    top: 20px;
    left: 20px;
    fill: black;
}

.modal-header button:hover {
    background-color: #E6E6E6;
}

.modal-header button:focus {
    background-color: #E6E6E6;
    outline: 3px solid #83B3D3;
}

button.close:active svg path {
    fill: rgba(0, 0, 0, 0.3);
}

.modal-form {
    display: grid;
    grid-template-columns: 288px 56px 230px;
}

.modal-input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 11px;
}

.modal-input:first-of-type {
    grid-column: 1/-1;
}

.modal-input:last-of-type {
    grid-column: 1/-1;
}

.adults-input {
    grid-column: 1/2;
}

.child-input {
    grid-column: 3/4;
}

.modal-form button {
    grid-column: 1/-1;
}

.label-title {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
}

.input-date {
    width: 420px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.modal-input input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    padding: 4px 0 6px 19px;
    background-color: #F2F2F2;
    border-radius: 4px;
    border: none;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    color: black;
    font-size: 18px;
    line-height: 40px;
}

.modal-input input[type="text"]:hover {
    background-color: #E6E6E6;
}

.modal-input input[type="text"]:focus {
    background-color: white;
    outline: 2px solid black;
    border-radius: 4px;
}

.modal-input input[type="text"]:active {
    background-color: #E6E6E6;
    outline: 3px solid #83B3D3;
}


.modal-input input[type="text"]::placeholder {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
    line-height: 40px;
}

.input-icon {
    position: absolute;
    width: 15px;
    height: 15px;
    background-image: url("/images/calendar.svg");
    top: 18px;
    right: 19px;
}

.modal-input .suppl-text {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    line-height: 40px;
    color: #333;
}

.modal-input:first-of-type .suppl-text {
    color: #FF5757;
}

.number-input {
    width: 133px;
    position: relative;
    background-color: #F2F2F2;
    border-radius: 4px;
}

.adults-tooltip {
    display: flex;
    justify-content: space-between;
}

.number-input input[type="number"] {
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 5px 61px;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    line-height: 40px;
    color: black;
    font-weight: 700;
}

.number-input input[type="number"]::placeholder {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    line-height: 40px;
    color: black;
    font-weight: 700;
}

.number-input button {
    position: absolute;
    border: 3px solid transparent;
    border-radius: 4px;
    background-color: transparent;
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.number-input button svg path {
    fill: rgba(0, 0, 0, 0.3);
}

.number-input button:hover svg path {
    fill: rgba(0, 0, 0, 1);
}

.number-input button:focus svg path {
    fill: rgba(0, 0, 0, 1);
}

.number-input button:focus {
    border: 3px solid #83B3D3;
    border-radius: 4px;
    outline: none;
}

.number-input button:active svg path {
    fill: rgba(0, 0, 0, 0.2);
}

.number-input button.minus {
    top: 12px;
    left: 13px;
}

button.minus svg {
    position: absolute;
    top: 9px;
    left: 3px;
}

.number-input button.plus {
    top: 12px;
    right: 13px;
}

button.plus svg {
    position: absolute;
    top: 3px;
    left: 3px;
}

.label-title-tooltip {
    margin-right: 10px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
}

.child-wrapper {
    display: flex;
    align-items: center;
}

.child-tooltip {
    display: flex;
    align-items: center;
}

.tooltip {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #83B3D3;
    border: none;
    margin-right: 18px;
    background-image: url("/images/info.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.tooltip div {
    position: absolute;
    top: 40px;
    left: -115px;
    width: 256px;
    height: 143px;
    border-radius: 10px;
    background-color: #333;
    box-sizing: border-box;
    padding: 15px 18px 18px 22px;
    display: none;
}

.tooltip div::before {
    content: "";
    position: absolute;
    top: -8px;
    left: 117px;
    background-image: url("/images/triangle.svg");
    width: 19px;
    height: 9px;
}

.tooltip div p {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    color: white;
    text-align: left;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}

.tooltip:hover {
    background-color: #68A2CA;
}

.tooltip:hover div {
    display: block;
}

.modal-form button[type="submit"] {
    padding: 10px 255px;
    box-sizing: border-box;
    border: none;
    margin-top: 40px;
    border-radius: 10px;
    background-color: #83B3D3;
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 40px;
}

.modal-form button[type="submit"]:hover {
    background-color: #68A2CA;
}

.modal-form button[type="submit"]:focus {
    background-color: #68A2CA;
    outline: 3px solid #756257;
    border: none;
}

.modal-form button[type="submit"]:active {
    background-color: #68A2CA;
    color: rgba(255, 255, 255, 0.3);
}

















